
<!DOCTYPE html>
<html>
    <head>
    <style>
        #h1 {
           font: arial;
           text-align: right;
        }
    </style>
    <link rel="stylesheet" href="css/style.css">
    </head>
   
    <body>
        <h1>Welcome to Vers!</h1>
        <button>Go</button>
        <form method = POST action="/showmeme">
    <input type="text" name="user-first-ln" placeholder="First Word">
    <br>
    <input type="text" name="user-second-ln" placeholder="Second Word">
    <br>
    <select required>
 <option value="pick template"hidden>Pick Template</option>
 <option value="logic">Logic</option>
 <option value="kyle">KYLE</option>
 <option value="chance the rapper">Chance The Rapper</option>
</select>
    </body>
</html>