<!DOCTYPE html>
<html>

<head>
    <style>
    

    
    body {
        background-color: lightblue;
    }
    
    
        

    input[type=text] {
        width: 25%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 2px solid black;
        border-radius: 4px;
        
    }
    input[type=submit]{
        background-color: white;
        width: 15%;
        padding: 10px 15px;
        margin: 8px 0;
        
    }
    .custom-select {
    position: relative;
    font-family: Arial;
    }
    
    </style>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>
        <img src="img/vers_logo.png">
    </h1>
    

    <form method=POST action="/song">
        <input type="text" name="user-noun" placeholder="Enter a Noun">
        <br>
        <input type="text" name="user-noun2" placeholder="Enter a Second Noun">
        <br>
    <div class="custom-select" style="width:200px;">
        <select required name="user-genre">
            <option value="pick-template" hidden>Pick Template</option>
            <option value="chill">chill</option>
            <option value="kyle">hype</option>
            <option value="placeholder">placeholder</option>
        </select>
    </div>
        <input type="submit" value = "Go">
        </form>
<script>
    
    
    
</script>
</body>

</html>

