<!DOCTYPE html>
<html>

<head>
    <style>
        #h1 {
            font: arial;
            text-align: right;
        }
    </style>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>Welcome to Vers!</h1>

    <form method=POST action="/song">
        <input type="text" name="user-noun" placeholder="Enter a Noun">
        <br>
        <input type="text" name="user-verb" placeholder="Enter a Verb">
        <br>
        <select required>
            <option name="pick-template" hidden>Pick Template</option>
            <option name="logic">Logic</option>
            <option name="kyle">KYLE</option>
            <option name="chance the rapper">Chance The Rapper</option>
        </select>
        <input type="submit" value = "Go">
        </form>
</body>

</html>